main {
  width: 100%;
  height: 100%;
  padding: 12px;
}

.app_wrapp {
  display: grid;
  height: 100%;
  grid-template-columns: 200px auto;
  grid-template-rows: 100%;
  grid-column-gap: 10px;
}

.left_b {
  padding: 10px;
  overflow-y: scroll;
}

.block {
  border: solid 1px #cdcdcd;
  border-radius: 4px;
}

.main_b {
  position: relative;
  z-index: 250;
  box-shadow: inset 0 0 14px rgba(0, 0, 0, 0.3);
  overflow: scroll;
}

.main_b.highlight {
  box-shadow: 0 0 1px 3px rgba(0, 69, 255, 0.3);
  border-color: rgba(0, 69, 255, 0.8);
}

.line {
  position: relative;
  float: left;
  border-color: #d1d1d1;
  border-style: solid;
  border-width: 0;
}

#grid {
  position: relative;
  width: 2000px;
  height: 2000px;
}

.X_lines,
.Y_lines {
  position: absolute;
  left: 0;
  top: 0;
}

.X_lines {
  height: inherit;
}

.Y_lines {
  width: inherit;
}

.X_lines .line {
  width: 20px;
  height: 100%;
  border-left-width: 1px;
}

.Y_lines .line {
  width: 100%;
  height: 20px;
  border-top-width: 1px;
}

.grid_items {
  width: 100%;
  height: 100%;
}

.list_wrapp {
  float: left;
  width: 100%;
  margin-bottom: 5px;
}

.line_h_wrapp {
  width: 100%;
  padding: 5px 15px 6px 0;
}

.line_header {
  height: 1px;
  background: #8e8e8e;
  width: inherit;
}

.list_header h5 {
  font-weight: normal;
  float: left;
  margin-top: -12px;
  padding: 0 2px;
  margin-left: 10px;
  background: white;
}

.arrow_down {
  float: right;
  width: 8px;
  height: 8px;
  margin-top: -12px;
  margin-right: 2px;
  border-right: solid 1px #8e8e8e;
  border-bottom: solid 1px #8e8e8e;
  transform: rotate(45deg);
}

.arrow_down.up {
  transform: rotate(-135deg);
  margin-top: -8px;
}

.list_header:hover .line_h_wrapp,
.list_header:hover h5 {
  background: #efefef;
}

.list_items {
  display: block;
  padding-top: 5px;
}

.list_items.min {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 5px;
  margin-bottom: 10px;
}

.list_items.min item {
  font-size: .85em;
}

.list_items.hidden {
  display: none;
}

#item_controlls {
  position: fixed;
  z-index: 200;
  width: 500px;
  padding: 13px 10px 10px;
  background: white;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  transition: margin-top .3s;
}

#item_controlls.up {
  transition-timing-function: cubic-bezier(.44, -0.09, 1, 1.03);
  margin-top: -100px;
}

#item_controlls.down {
  transition-timing-function: cubic-bezier(0, 0, .59, 1.1);
  margin-top: -3px;
}

[type="text"] {
  border: solid 1px #d1d1d1;
  padding: 2px;
  border-radius: 4px;
  width: auto;
}

.controlls_template {
  display: grid;
}

.controlls_template.two {
  grid-template-columns: 1fr 1fr;
}

.controlls_template.three {
  grid-template-columns: 1fr 1fr 1fr;
}
.controlls_template .wrapp {
  margin-bottom: 3px;
}
.controlls_template .wrapp:last-child {
  margin-bottom: 0px;
}
#item_controlls input:focus {
  border-color: rgba(0, 69, 255, 0.8);
}
.warn {
  border-color: #ffcc20!important;
}
.trash_wrapp {
  margin: 0 auto;
  width: 30px;
}
#trash {
  cursor: pointer;
  position: absolute;
  top: 50px;
  border-radius: 25px;
  border: 1px solid;
  width: 35px;
  height: 35px;
  background: url(../icons/rubbish.png) no-repeat center;
  background-size: 21px;
  opacity: 1;
}
#trash.muffle {
  opacity: .6;
}
#trash:hover {
  opacity: 1;
  transform: scale(1.1)
}
.data_output {
  float: right;
}