@font-face {
  font-family: "Titillium";
  src: url(../fonts/Titillium.ttf) format("truetype");
  font-style: normal;
}

@font-face {
  font-family: "InputMono";
  src: url(../fonts/InputMono-Thin.ttf) format("truetype");
  font-style: normal;
  font-weight: 200;
}

@font-face {
  font-family: "InputMono";
  src: url(../fonts/InputMono-Light.ttf) format("truetype");
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: "InputMono";
  src: url(../fonts/InputMono-Medium.ttf) format("truetype");
  font-style: normal;
  font-weight: 800;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 14px;
}

body {
  font-family: "InputMono", sans-serif;
  font-weight: 500;
}

.theme {
  outline: none;
  border: none;
/*  cursor: default;*/
}

.theme[type="button"] {
  cursor: pointer;
  background: #ffffff;
  border-radius: 3px;
  color: #474747;
  font-weight: bold;
  border: 1px solid #bfbfbf;
  padding: 4px;
}

.theme[type="button"]:hover {
  background: linear-gradient(to bottom, #f4f4f4, #e7e7e7);
}

.theme[type="button"]:active {
  background: linear-gradient(to top, #f4f4f4, #e7e7e7);
}

.theme[type="text"] {
  width: inherit;
}

textarea.theme {
  min-width: 53px;
  max-width: 393px;
  min-height: 37px;
  max-height: 298px;
}

.focus .theme[type="text"] {
  cursor: text;
}

label.theme {
  font-size: .8em;
  color: #5e5e5e;
  padding: 7px;
}

label.theme[for] {
  cursor: pointer;
}



item {
  display: block;
  width: 100%;
  padding: 5px;
}

item.list_item {
  cursor: pointer;
  border-width: 1px;
  border-style: solid;
  border-radius: 4px;
}

item.list_item:hover {
  box-shadow: 0 0 0 1px rgba(0, 0, 255, 0.5);
}

item.list_item.avatar {
  position: absolute;
  cursor: move;
  box-shadow: 0 3px 2px 1px rgba(0, 0, 0, 0.3);
}

item.list_item.avatar.hidden {
  opacity: 0;
}

item.list_item.on_grid {
  position: absolute;
  cursor: pointer;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
}
item.list_item.on_grid textarea{
  cursor: pointer;
}

item.list_item.on_grid.ghost {
  opacity: .6;
  box-shadow: 0 2px 1px 1px rgba(0, 0, 0, 0.3);
}

item.list_item.on_grid::before {
  content: none
}
item.list_item.on_grid::after {
  position: absolute;
  top: 0;
  left: 2px;
  font-size: .8em;
}

item.list_item.on_grid.focus {
  box-shadow: 0 0 1px 3px rgba(0, 69, 255, 0.3);
  border-color: rgba(0, 69, 255, 0.8);
}

item.list_item.on_grid.item_grid_wrapp {
  display: grid;
  width: inherit;
}

item.list_item.on_grid .item_grid_wrapp.one {
  grid-template-columns: 100%;
  grid-template-rows: 100%;
}

item.list_item.on_grid .item_grid_wrapp .item_grid_block {
  width: 100%;
  height: 100%;
}
item.list_item.on_grid.focus .item_grid_block {
  background: white;
}

item.list_item.on_grid {
  padding: 12px 0 0;
}

item.list_item.on_grid.hoverTite {
  cursor: move;
  background: rgb(217, 217, 217);
}


item[type="full"] {
  margin-bottom: 8px;
}

item[type="min"] {
  margin-bottom: 0px;
  background: white;
}

item[data-method]::after {
  content: attr(data-method);
  font-size: .95em;
  font-weight: normal;
}

item[pfx]::before {
  content: attr(pfx);
  margin-right: 4px;
  font-size: .8em;
  font-weight: 800;
}


/* ---------- ---------- ---------- COLORS ---------- ---------- ---------- */
item.list_item[pfx="on"] {
  border-color: #9f9f9f;
  background-color: #f2f2f2;
}

item.list_item[data-method="If"] {
  border-color: #b08beb;
  background-color: #ddc5ff;
}

item.list_item[data-method="If-Else"] {
  border-color: #c78beb;
  background-color: #f2c5ff;
}

item.list_item[data-method="For"] {
  border-color: #9fa6fa;
  background-color: #ccd0ff;
}

item.list_item[data-method="While"] {
  border-color: #85b0e7;
  background-color: #b4d2f2;
}

item.list_item[data-method="Date"] {
  border-color: #78c5db;
  background-color: #b4e4f2;
}

item.list_item[data-method="Timeout"] {
  border-color: #5edbd1;
  background-color: #b4f2ed;
}

item.list_item[data-method="Interval"] {
  border-color: #8edfc0;
  background-color: #b4f2da;
}

item.list_item[data-method="Data"] {
  border-color: #88db99;
  background-color: #a6f2b4;
}

item.list_item[data-method="User"] {
  border-color: #9de388;
  background-color: #bbfaa8;
}

item.list_item[data-method="Promise"] {
  border-color: #c5e884;
  background-color: #deffa0;
}

item.list_item[data-method=".length"] {
  border-color: #e0ec7b;
  background-color: #f5ffa0;
}

item.list_item[for="string"] {
  border-color: #e0ec7b;
  background-color: #f5ffa0;
}



/* ---------- ---------- ---------- end COLORS ---------- ---------- ---------- */

.main_b::-webkit-scrollbar,
.left_b::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}

.main_b::-webkit-scrollbar:hover,
.main_b::-webkit-scrollbar:focus,
.left_b::-webkit-scrollbar:hover,
.left_b::-webkit-scrollbar:focus {
  width: 5px;
  height: 5px;
}

.main_b::-webkit-scrollbar-thumb,
.left_b::-webkit-scrollbar-thumb {
  background: #828282;
}
