@font-face {
  font-family: "Titillium";
  src: url(../fonts/Titillium.ttf) format("truetype");
  font-style: normal;
}

@font-face {
  font-family: "InputMono";
  src: url(../fonts/InputMono-Thin.ttf) format("truetype");
  font-style: normal;
  font-weight: 200;
}

@font-face {
  font-family: "InputMono";
  src: url(../fonts/InputMono-Light.ttf) format("truetype");
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: "InputMono";
  src: url(../fonts/InputMono-Medium.ttf) format("truetype");
  font-style: normal;
  font-weight: 800;
}

body {
  font-family: "InputMono", sans-serif;
  font-weight: 500;
}

.theme {
  outline: none;
  border: none;
  cursor: default;
}

.theme[type="button"] {
  cursor: pointer;
  background: #ffffff;
  border-radius: 3px;
  color: #474747;
  font-weight: bold;
  border: 1px solid #bfbfbf;
  padding: 4px;
}

.theme[type="button"]:hover {
  background: linear-gradient(to bottom, #f4f4f4, #e7e7e7);
}

.theme[type="button"]:active {
  background: linear-gradient(to top, #f4f4f4, #e7e7e7);
}

label.theme {
  font-size: .8em;
  color: #5e5e5e;
  padding: 7px;
}

label.theme[for] {
  cursor: pointer;
}
